@import '/src/assets/styles/variable';

.hero--conatiner {
	background: linear-gradient(rgba($black, 0.5), rgba($black, 0.5)), url('../../../assets/images/backgroungImg.jpg');
	height: 100vh;
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	.weather-info--container {
		display: flex;
		width: 100%;
		max-width: calc(100% - 200px);
		height: calc(100vh - 100px);
		backdrop-filter: blur(1);
		background-color: rgba($black, 0.8);
		border-radius: 10px;
		.left-weather-info--wrapper {
			width: 70%;
			height: 100%;
			border-right: 1px solid $white;
			
			.background-effects{
				background: url('../../../assets/images/cloudy.jpg');
				height: 100%;
				max-height: calc(100% - 85px);
				background-size: cover;
				display: flex;
			}
		}
		.right-weather-info--wrapper {
			width: 30%;
			height: 100%;
			box-sizing: border-box;
			.right-inner--wrapper {
				padding: 30px;
				.form-control {
					background: transparent;
					border-bottom: 1px solid rgba($white, 0.5);
				}
				.search--icon {
					top: 5px;
					right: 15px;
				}
				.weather-icon {
					width: 70px;
					height: 70px;
				}
				.temp-degree{
					top: -5px
				}
			}
		}
	}
}
